{% extends "base.html" %}
{% block content %}
    <div class="gradient"></div>
    <div class="section-eclipse">
        <section id="about">
            <h2>About Jose Rojas</h2>
            <article>
                <div class="text">
                    <h3>About myself</h3>
                    <p class="blackbox">I'm a beginning developer from Venezuela, I'm currently specializing in web development specifically in
                        front end but have plans to learn backend and become full stack developer. I'm learning from the
                        course of <a href="https://frontendmasters.com/">Front end master</a> which I think are great.</p>
                    <h4>My favorite technologies:</h4>
                    <ul>
                        <li>HTML</li>
                        <li>CSS</li>
                        <li>JavaScript</li>
                        <li>Python</li>
                    </ul>
                </div>
                <img src="../images/foto-personal.jpg" alt="picture of Jose">
            </article>
        </section>
    </div>
{% endblock %}