<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jose Rojas's Portafolio</title>
    <link rel="stylesheet" href="../static/stylesheets/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital@1&family=IBM+Plex+Serif&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/689159267d.js" crossorigin="anonymous"></script>
</head>
<body>
    {% include 'navbar.html' %}
    {% block content %}
    {% endblock %}
    <div class="gradient"></div>
    <footer id="footer">
        <h2>Jose Rojas · Web Developer</h2>
        <ul>
            <li><a href="https://www.linkedin.com/in/jose-alejandro-rojas-campero-b4998a238/"><span class="fa-brands fa-linkedin" aria-hidden="true"></span><span class="sr-only">Linkedin</span></a></li>
            <li><a href="https://github.com/joseyx"><span class="fa-brands fa-github-square" aria-hidden="true"></span><span class="sr-only">Github</span></a></li>
            <li><a href="https://t.me/Joseyx"><span class="fa-solid fa-paper-plane" aria-hidden="true"></span><span class="sr-only">Telegram</span></a></li>
        </ul>
        <p><small>© 2022 Jose Rojas. All rights reserved.</small></p>
    </footer>
</body>
</html>