    <nav>
        <ul>
            <li><h1><a href="{{ url_for('landing_page') }}"><i class="fa-solid fa-laptop-code"></i> Jose Rojas</a></h1></li>
            <li><a href="{{ url_for('landing_page', _anchor='projects') }}">Projects</a></li>
            <li><a href="{{ url_for('landing_page', _anchor='contact') }}">Contact</a></li>
            <li><a href="{{ url_for('about_page') }}">About</a></li>
            <li><a href="https://www.linkedin.com/in/jose-alejandro-rojas-campero-b4998a238/"><span class="fa-brands fa-linkedin" aria-hidden="true"></span><span class="sr-only">Linkedin</span></a></li>
            <li><a href="https://github.com/joseyx"><span class="fa-brands fa-github-square" aria-hidden="true"></span><span class="sr-only">Github</span></a></li>
            <li><a class="button">Resume</a></li>
        </ul>
    </nav>